@model Escalator.Common.Models.UserCred
@{
    ViewBag.Title = "Login";

}


<div style="display: grid; place-items: center;">
    @using (Html.BeginForm())
    {

    <div class="card" style="width: 50em;">
        @Html.ValidationSummary(true)
        <h5 class="card-header">Login</h5>
        <div class="card-body" style="text-align: center;">
                <div class="row" style="display: grid; place-items: center; padding-top: 1em;"> 
                    @Html.LabelFor(model => model.Username, new { @class = "control-label col-md-2"})
                    @Html.EditorFor(model => model.Username)
                    @Html.ValidationMessageFor(model => model.Username)
                </div>
                <div class="row" style="display: grid; place-items: center; padding-top: 1em;"> 
                    @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2"})
                    @Html.PasswordFor(model => model.Password, new {@type = "password"})    
                    @Html.ValidationMessageFor(model => model.Password)           
                </div>
                <p>@ViewBag.Message</p>
                <div class="row" style="display: grid; place-items: center; padding-top: 1em;"> 
                    <button type="submit" value="Submit" class="btn btn-space btn-primary">Submit</button>
                </div>
        </div>
    </div>

    }
</div>
