@model WebInterface.Models.TicketsViewModel
@{

    ViewData["Title"] = "Tickets";
}

@{
    foreach (var item in Model.tickets)
    {
        <div>
            <h1>@item.Id</h1>
            <td>@item.ticketType</td>
            <td>@item.JurisdictionId</td>
            <td>@item.AssignedAgent</td>
            <td>@item.CompletedBy</td>
            <td>@item.OpenDate</td>
            <td>@item.CloseDate</td>
            <td>@item.DueBy</td>
            <td>@item.PhoneNumber</td>
            <td>@item.EmailAddress</td>
            <td>@item.OriginalAccount</td>
            <td>@item.MoveToAccount</td>
            <td>@item.Invoices</td>
            <td>@item.Details</td>
        </div>
    }

}
