@model Escalator.Common.Models.Agent
@{
    ViewBag.Title = "Create New Password";
}

<div style="text-align: center;">
    @using (Html.BeginForm("PostNewPassword", "Agent"))
    {
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" style="margin: auto;">
        <div class="card">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Email)
            @Html.HiddenFor(model => model.Username)
            @Html.HiddenFor(model => model.Role)
  
            <h5 class="card-header">Change Password</h5>

            <div class="card-body">


                <div class="form-group">
                    @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2"})
                    @Html.PasswordFor(model => model.Password)                    
                    @Html.ValidationMessageFor(model => model.Password)           
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>

@*@Html.DropDownList("ConstructionType", new SelectList(Model.Construction.Distinct().ToList(), "ConstructionID", "ConstructionType", item.ConstructionID))
@Html.DropDownListFor(m => m.BANK_NAME, new SelectList(Model.BANKS, "ID", "Name"))*@